/* General Formatting */
* {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* h1 */
h1 {
    color: white;
    background-color: #0D1321;
    border: 10px solid #0D1321;
    padding: 10px 20px ;
    margin: 20px 50px ;
    text-align: left;
}

#linkedin_qr {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px ;
    margin: 20px 50px ;
}

/* Main boxes i.e. level_1 */
.level_1_box {
    color: #0D1321;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px ;
    margin: 20px 50px ;
}

footer {
    border: 0px solid black;
    text-align: center;
    margin: 0% 20%;
}

header {
    text-align: center;
    border: 0px solid black;
    margin: 0% 20%;
}

/* Unvisited Links */
a:link {
    text-decoration: none; /* Remove underline */
    color: black;
    font-weight: bold;
}

/* Visited Links */
a:visited {
    text-decoration: none; /* Remove underline */
    color: black;
    font-weight: bold;
}

/* Mouse over Links */
a:hover {
    text-decoration: none; /* Remove underline */
    color: gray;
    font-weight: bold;
}

/* 
Colours
#947B57 - Brown
#0D1321 - Dark Blue
#8491A8 - Light Blue
#FFEDDF - Cream
*/