/* General Formatting */
* {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* h1 */
h1 {
    font-size: 1.3REM;
    border: 0px solid #8491A8;
    padding: 10px 20px solid black;
    margin: 0% 20%;
    text-align: center;
}

h2 {
    font-size: 1REM;
    border: 0px solid #8491A8;
    padding: 10px 20px solid black;
    margin: 0% 20%;
    text-align: center;
}

/*--------------------------------------------------------------------------*/
/*Experimental*/
/*--------------------------------------------------------------------------*/
.container {
    display: flex;
    justify-content: space-between;
    margin: 0% 20%;
}

.section1, .section3,.section5 {
    margin: auto;
    flex: 1; /* Each section takes up equal space */
    border: 2px solid black; /* Border for visualization */
    padding: 2px 10px;
    margin-right: 2vw; /* Adjust the value as needed */
    text-align: justify;
}

.section2, .section4 {
    margin: auto;
    flex: 1; /* Each section takes up equal space */
    border: 2px solid black; /* Border for visualization */
    padding: 2px 10px;
    margin-right: 2vw; /* Adjust the value as needed */
    text-align: justify;
}

/* Ensure the last section doesn't have margin on the right */
.section:last-child {
    margin-right: 0;
}

/*--------------------------------------------------------------------------*/

footer {
    border: 0px solid black;
    text-align: center;
    margin: 0% 20%;
}

header {
    text-align: center;
    border: 0px solid black;
    margin: 0% 20%;
}

/* Unvisited Links */
a:link {
    text-decoration: none; /* Remove underline */
    color: black;
    font-weight: bold;
}

/* Visited Links */
a:visited {
    text-decoration: none; /* Remove underline */
    color: black;
    font-weight: bold;
}

/* Mouse over Links */
a:hover {
    text-decoration: none; /* Remove underline */
    color: gray;
    font-weight: bold;
}


/* Selected Links
a:active {
}

/* 
Colours
#947B57 - Brown
#0D1321 - Dark Blue
#8491A8 - Light Blue
#FFEDDF - Cream


#B3C8CF
#BED7DC
#F1EEDC
#E5DDC5
*/